/* global */
.highlight { color:rgb(0,128,105); font-weight:bold; }
.badge { float:right; background:red; color:white; border-radius:50%; padding:1.1em 1em; font-family:oswald; text-transform:uppercase; line-height:1em; }
.strike { display:inline-block; position:relative; }
.strike .line { border-bottom:3px solid red; position:relative; top:0; margin-top:-.7em; }
html { background:url(images/noise.png); }
body { margin:0; font-family:arial; line-height:1.5em; background:url(images/headers/body-top-background.jpg) repeat-x; }
a { color:rgb(0,128,105); }
a:hover { text-decoration:none; }
label { display:block; }
li { margin-bottom:.5em; }
h1, h2, h3, h4, h5, h6 { font-family: 'Oswald', sans-serif; font-weight:normal; line-height:1.1em; }
h1 { font-size:3em; margin-top:0; }
h2 { font-size:2em; }
h3 { font-size:1.5em; }
h4 { font-size:1em; }
.entry-title { margin-bottom:0; }
textarea { width:100%; max-width:300px; }
.button, button, input[type="submit"] { padding:2% 5%; color:white; background:rgb(64,112,101); border-radius:2px; border:1px solid rgb(24,71,61); box-shadow:0px 1px 1px white inset; transition:background .5s; display:inline-block; text-decoration:none; font-family:Oswald; text-shadow:0 0 5px black; }
.button:hover, button:hover, input[type="submit"]:hover { background:rgb(94,142,131); cursor:pointer; }
.tiles { height:200px; width:200px; float:left; }
.gallery dl { height:157px; display:block; float:left; margin:0 1em 1em 0; border:5px solid white; box-shadow:0 0 10px rgb(192,192,192); }
.gallery br { display:none; }
.clear { clear:both; }
.columns li { width:45%; float:left; }
.nav-links { margin-top:2em; }
.alignleft { float:left; margin:0 2em 2em 0; }
.alignright { float:right; margin:0 0 2em 2em; }
.quote { color:rgb(96,96,96); font-size:10pt; line-height:1.5em; }
.quote em { font-size:8pt; display:block; line-height:1.25em; }
dd { margin-bottom:1em; }
header a { text-decoration:none; }
header a:hover { text-decoration:underline; }
label { font-weight:bold; display:block; }
.post-thumb { width:150px; height:150px; text-align:center; overflow:hidden; }
.post-thumb img { float:none; width:150px; height:auto; }
textarea { line-height:1.25em; padding:5px; font-family:arial; }
iframe { width:100% !important; }
#content input { padding: 10px; border: 1px solid rgba(0,0,0,0.3); border-radius: 4px; }
.alert { padding:10px 15px; margin:.5em 0; }
.alert-caution { background:rgba(255,255,0,.5); border:1px solid rgba(128,128,0,.5); }
.alert-success { background:rgba(0,255,64,.5); border:1px solid rgba(0,128,32,.5); }

/* end global */

/* header */
.site-header > .home-link { display:block; margin-bottom:-7px; }
#masthead { margin-bottom:-7px; }
#masthead img { width:100%; height:auto; }
.top-nav { max-width:1000px; margin:0 auto; text-align:right; overflow:hidden; font-size:10pt; }
.top-nav li { display:inline-block; margin:1%; list-style:none; }
.top-nav a { color:rgb(0,255,225); }
#page { max-width:1000px; margin:0 auto; box-shadow:0 0 100px rgba(0,0,0,.5); background:white; overflow:hidden; }
.nav-menu { background:rgb(50,50,50); overflow:hidden; }
.nav-menu #menu-button { display:none; }
.nav-menu li { float:left; list-style:none; margin:0; }
.nav-menu li ul { display:none; }
.nav-menu li a { display:block; padding:20px; text-decoration:none; color:white; }
.nav-menu li a:hover { background:rgb(0,255,225); transition:background .5s; -webkit-transition:background .5s; transition:color: .5s; -webkit-transition:color: .5s; color:black; }
@media (max-width:800px) {
    .nav-menu .menu { display:none; clear:both; }
    .nav-menu .menu li { float:none; }
    .nav-menu #menu-button { display:block; }
    .columns li { float:none; width:100%; }
}

#main { overflow:hidden; }
#primary { width:65%; display:table-cell; vertical-align:top; }
#content { padding:6%; }
.search-form { float:right; margin:2%; }
.search-submit { display:none !important; }

/** subscribe **/

#subscriberGiveaways { overflow:hidden; background:rgb(225,225,225); box-shadow:0 0 50px rgba(0,0,0,.5); line-height:1.25em; }
#giveaways { float:left; position:relative; padding:3%; box-shadow:0 0 50px rgb(192,192,192); max-width:409px; }
#giveaways th { vertical-align:top; text-align:right; padding:5px; }
#giveaways td { vertical-align:top; padding:5px; }
#weekly-giveaways { position:absolute; top:0; left:0; }
#subscribe { float:left; padding:3%; max-width:265px; }
#subscribe p:first-of-type { margin-top:0; }

/** end subscribe **/

/* end header */

/* content */

.breadcrumbs { font-size:10pt; padding:5px 15px; background:rgb(225,225,225); }
.entry-meta { color:gray; font-size:10pt; font-style:italic; }
.children { padding-left:0; }
.children li { list-style:none; }
.children li a { display:block; background:rgb(235,235,235); padding:10px 20px; }
.children li a:last-of-type { border:0; }
.children li a:hover { transition:background .5s; background:rgb(245,245,245); }
.children .current_page_item { display:none; }
.children li ul { display:none; }
.children li a { overflow:hidden; text-decoration:none; }
.children li a img.alignleft { margin:.5em 1em .5em 0; }
.children h2 { margin:.4em 0 0; }
.entry-content img.full { width:100%; height:auto; max-width:645px; }

/** login/register **/

.entry-content #theme-my-login p.message { display:none !important; }
form#registerform label[for='user_login'] { display:none !important; }
ul.tml-action-links { display:none !important; }
#reg_passmail { display:none !important; }
#registerform > p:nth-child(2) > label { display:none !important; }
#post-5026 > div > p:nth-child(4) { display:none !important; }
form#registerform #user_login { display:none !important; }
form#registerform { display:table; }
#registerform > p:nth-child(2) { display:table-cell !important; vertical-align:top !important; }
#registerform > p:nth-child(2) input { box-sizing: border-box !important; height: 44px !important; vertical-align:top !important; border-top-right-radius:0 !important; border-bottom-right-radius:0 !important; }
#registerform p.submit { display:table-cell !important; }
#registerform p.submit #wp-submit { border-top-left-radius:0 !important; border-bottom-left-radius:0 !important; }

/** end login/register **/

/* end content */

/* sidebar */

#secondary { width:25%; padding:5%; display:table-cell; vertical-align:top; font-size:10pt; background:rgb(235,235,235); box-shadow:25px 25px 50px rgb(192,192,192) inset; }
@media (max-width:1000px) {
    #primary { width:100%; display:block; }
    #secondary { display:none; }
}
#secondary ul { padding-left:1em; }
#secondary h3:first-of-type { margin-top:0; }
#secondary img { max-width:200px; width:100%; height:auto; }
#secondary p { line-height:1.5em; }
#secondary a { text-decoration:none; }
#secondary .block { margin-bottom:2em; }
#secondary input { margin-bottom:1em; }
#secondary a p { margin:.5em 0; color:black; }
#secondary a p strong { color:rgb(0,128,105); }

/* end sidebar */

/* footer */

#footer { padding:2%; background:rgb(50,50,50); }
.site-info { text-align:center; color:gray; font-size:10pt; }

/* end footer */

/* hide elements */

.form-allowed-tags, .search-submit, span.screen-reader-text:nth-child(1) { display:none; }

/* end hide elements */

/* home */

.home-menu { margin:0; padding:0; }
.home-menu > li { float:left; list-style:none; width:46%; min-height:285px; box-shadow:0 0 50px rgba(0,0,0,.1); margin:2%; }
.home-menu > li > a { padding:5%; background:rgb(50,50,50); color:white; display:block; text-decoration:none; }
.home-menu > li > ul { display:block; margin:1em 0; padding-left:2.5em; }
.home-menu > li > ul > li { list-style:disc; }
.home-menu > li > ul > li > a { background:none; padding:0; }
@media (max-width:600px) {
    .home-menu > li { width:100%; }
}

/* end home */

/** AddThis widget **/

.addthis_toolbox { margin-left:-80px; margin-top:-80px; }
@media (max-width:1090px) {
    .addthis_toolbox { display:none !important; }
}

/** end AddThis widget **/

/* pop */

.black { display:none; position:fixed; top:0; right:0; bottom:0; left:0; background:black; opacity:.5; z-index:10000; }
.pop { text-align:center; display:none; background:white; color:black; position:fixed; z-index:10001; top:12%; right:30%; bottom:12%; left:30%; max-height:520px; padding:2.5% 5%; overflow:auto; }
.pop .x { position:absolute; top:0; right:0; background:white; border-bottom-left-radius:100%; box-shadow:0px 0px 5px white inset; border:1px solid rgb(192,192,192); cursor:pointer; background:rgb(225,225,225); color:black; padding:5px 9px 10px 18px; }
@media (max-width:1600px ) {
    .pop { right:25%; left:25%; }
}
@media (max-width:1300px ) {
    .pop { right:18%; left:18%; }
}
@media (max-width:1000px ) {
    .pop { right:10%; left:10%; }
}
@media (max-width:600px ) {
    .pop img { display:block !important; margin:0 auto !important; left:0 !important; }
    .pop h2 { font-size:24pt !important; margin-bottom:0 !important; }
    .pop { right:5%; left:5%; padding:10%; }
}

.pop input[type="text"] { width:100%; }

/* end pop */
